<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="~/Scripts/jquery-2.1.0.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

</head>
<body>
    <div>
        @RenderBody()
    </div>

</body>
</html>
